/*
    arquivo css para retirar fundo de botao-label-field para que a funcao
    Navegador.setBackgroundImage() nao tenha a imagem tampada pelos os mesmos

*/
.janela-com-fundo {

}
.janela-com-fundo .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 1);
}

.janela-com-fundo .text-field,
.janela-com-fundo .password-field {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 5;
}
.janela-com-fundo #mensagemLabel { /* O # procura por um ID (fx:id) */
    -fx-text-fill: #FFD700; /* Dourado/Amarelo */
    -fx-font-size: 14px;
}